<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BaseProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A97FBF2020EB525A0003D09F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A97FBF3820EB525C0003D09F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A97FBF4320EB525D0003D09F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
